$menu-text-color: get-value(menu-text-color);
$menu-hover-text-color: get-value(menu-hover-text-color);
$menu-background-color: get-value(menu-background-color);
$menu-active-background-color: get-value(menu-active-background-color);
$menu-shadow-color: get-value(menu-shadow-color);

.theme-dark {
  .layout-side {
    background-color: $menu-background-color;
    box-shadow: $menu-shadow-color;

    .logo h1 {
      color: $menu-hover-text-color;
    }
  }

  .side-links {
    color: $menu-text-color;

    .svg-icon {
      &:hover {
        color: $menu-hover-text-color;
      }
    }
  }

  .el-menu {
    background: $menu-background-color;

    &-item {
      color: $menu-text-color;

      &.is-active:not(.el-submenu) {
        color: $menu-hover-text-color;
        background: $menu-active-background-color;
      }

      &:focus {
        background: $menu-active-background-color;
      }

      &:hover {
        color: $menu-hover-text-color;
        background-color: transparent;
      }
    }
  }

  .el-submenu {
    &__title {
      color: $menu-text-color;
    }

    &__title:hover {
      color: $menu-hover-text-color;
      background-color: transparent;

      i {
        color: $menu-hover-text-color;
      }
    }
  }

  .el-menu--inline {
    background-color: #000c17;
  }

  .side-menu-horizontal {
    .el-menu--horizontal {
      .el-submenu,
      .el-menu-item {
        float: left;
        height: 48px;
        line-height: 48px;
      }

      .el-menu-item.is-active {
        color: $menu-hover-text-color;
        background-color: transparent !important;
      }

      .el-submenu {
        &.is-active {
          background-color: transparent !important;

          .el-submenu__title {
            color: $menu-hover-text-color;
          }
        }

        .el-submenu__title {
          height: 48px;
          line-height: 48px;
        }

        .el-submenu__icon-arrow {
          position: static;
          margin-top: -3px;
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
  }

  .el-menu--horizontal {
    .el-menu {
      &-item {
        &:not(.is-disabled):hover,
        &:not(.is-disabled):focus {
          color: $menu-hover-text-color;
        }

        &.is-active:not(.el-submenu) {
          color: $menu-hover-text-color;
          background: $menu-active-background-color;

          &::after {
            display: none;
          }
        }
      }
    }

    .el-submenu {
      &.is-active:not(.el-submenu) {
        .el-submenu__title {
          color: $menu-hover-text-color;
        }
      }
    }
  }

  .el-menu--horizontal .el-menu .el-menu-item.is-active,
  .el-menu--horizontal .el-menu .el-submenu.is-active > .el-submenu__title {
    color: $menu-hover-text-color;
  }

  .el-menu--horizontal .el-menu .el-menu-item,
  .el-menu--horizontal .el-menu .el-submenu__title {
    color: $menu-text-color;
    background-color: $menu-background-color;
  }
}
